.main{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: Golos sans-serif ;

    color: #000000CC;

}
.text{
    width: 50%;
}

.photo img{

    margin-left: 50px;
}
.text p{
    font-size: 16px;
}
.text h1{
    color: #0d6efd;
    font-weight: bold;

}